<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="cassandra-address" value="127.0.0.1" />
    <add key="cassandra-port" value="9042" />
    <add key="cassandra-keyspace" value="my_keyspace" />
  </appSettings>
</configuration>